.form-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #ffffff;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.gender-options,
mat-checkbox {
  margin-right: 16px;
}

button {
  margin-top: 20px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-color: #333;
}
::ng-root
  .ng-submitted
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  border-color: #333 !important;
}

.ng-submitted
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  border-color: #333 !important;
}
